<div class="game-over">
  <div class="game-over__heading">
    <span class="glitch-text" aria-hidden="true">Death by <%= cod %>.</span>
    Death by <%= cod %>.
    <span class="glitch-text" aria-hidden="true">Death by <%= cod %>.</span>
  </div>
  <div class="game-over__sub-heading type-text mb-xl"><%= description %></div>

  <div class="play-again">Give love another chance?</div>
</div>
