<div class="game-over">
  <div class="game-over__heading type-text">Death by <%= cod %>.</div>
  <div class="game-over__sub-heading type-text mb-xl"><%= description %></div>

  <div class="play-again">Give love another chance?</div>
</div>
