.game {
  height: 100vh;

  display: grid;
  grid-template-columns: [output-start] 1fr [output-end] 30vw;
  column-gap: 1rem;

  background-color: var(--color-black);
  padding: 3rem;

  &__panel {
    display: flex;
    flex-direction: column;
  }
}
