.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10rem 9rem;

  .play-again {
    color: $color-red-muted;
    text-shadow: 0.2rem 0.2rem 0 $color-red-muted-dark;
    transform: translateY(0) scale(1);
    animation: emphasize 1s infinite;
  }
}
