<div class="choice">
  <svg class="icon icon-story">
    <use xlink:href="/images/symbol-defs.svg#icon-<%= choice.icon %>"></use>
  </svg>
  <span class="choice__value"><%= choice.value %></span>
</div>
