This is a text-based game that tells the story of two heroes that formed an
unlikely but great pair. Your mission is to make decisions in the game to guide
the two heroes to the secret treasure!
<br />
Instructions:
<br />

<br />
<br />
<br />
Would you like to play?
<br />
<br />
<br />
<br />
<br />
<div>
  <svg class="icon icon-story icon-fight">
    <use xlink:href="/images/symbol-defs.svg#icon-fight"></use>
  </svg>
  YES!
</div>
<div>
  <svg class="icon icon-story icon-flag">
    <use xlink:href="/images/symbol-defs.svg#icon-flag"></use>
  </svg>
  No, thanks
</div>
