<p class="type-text"><%- context %></p>
<br />
<br />
<br />
<br />
<p class="type-text"><%- question %></p>
<br />
<br />
<br />
<br />
<br />
<div class="choices">
  <% choices.forEach((choice) => { %> <%- include("choice", {choice: choice});
  %> <% }); %>
</div>
