@mixin glitch-text-shadow(
  $color-primary-dark,
  $color-secondary,
  $color-primary-light
) {
  text-shadow: 0.05em 0 0 rgba($color-primary-dark, 0.75),
    -0.025em -0.05em 0 rgba($color-secondary, 0.75),
    -0.025em 0.05em 0 rgba($color-primary-light, 0.75);
}

@mixin glitch-text-shadow-0-14(
  $color-primary-dark,
  $color-accent-dark,
  $color-accent-light
) {
  text-shadow: 0.05em 0 0 rgba($color-primary-dark, 0.75),
    -0.025em -0.05em 0 rgba($color-accent-dark, 0.75),
    -0.025em 0.05em 0 rgba($color-accent-light, 0.75);
}
@mixin glitch-text-shadow-15-49(
  $color-primary-dark,
  $color-accent-dark,
  $color-accent-light
) {
  text-shadow: -0.05em -0.025em 0 rgba($color-primary-dark, 0.75),
    0.025em 0.025em 0 rgba($color-accent-dark, 0.75),
    -0.05em -0.05em 0 rgba($color-accent-light, 0.75);
}
@mixin glitch-text-shadow-50-99(
  $color-primary-dark,
  $color-accent-dark,
  $color-accent-light
) {
  text-shadow: 0.025em 0.05em 0 rgba($color-primary-dark, 0.75),
    0.05em 0 0 rgba($color-accent-dark, 0.75),
    0 -0.05em 0 rgba($color-accent-light, 0.75);
}
@mixin glitch-text-shadow-100(
  $color-primary-dark,
  $color-accent-dark,
  $color-accent-light
) {
  text-shadow: -0.025em 0 0 rgba($color-primary-dark, 0.75),
    -0.025em -0.025em 0 rgba($color-accent-dark, 0.75),
    -0.025em -0.05em 0 rgba($color-accent-light, 0.75);
}
