:root {
  ////////////////////////// BORDERS //////////////////////////
  --border-components: 0.5rem solid var(--color-white);

  // Border Radius
  --border-radius-components: 0.2rem;

  ////////////////////////// COLORS //////////////////////////
  --color-black: #000;

  --color-white: #fff;

  ////////////////////////// FONTS //////////////////////////
  // Sizes
  --font-size-story: 2.25rem;
}

////////////////////////// COLORS //////////////////////////
$color-red-muted: #c1121f;
$color-red-muted-dark: #780000;
$color-pink-pastel: #ffa9a3;
$color-blue-muted: #0c44ac;
