@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes emphasize {
  0%,
  100% {
    transform: scale(1) translateZ(-1rem);
  }

  50% {
    transform: scale(1.5) translateZ(1rem);
  }
}

@keyframes glitch {
  0% {
    @include glitch-text-shadow-0-14(
      $color-red-muted-dark,
      $color-blue-muted,
      $color-pink-pastel
    );
  }
  14% {
    @include glitch-text-shadow-0-14(
      $color-red-muted-dark,
      $color-blue-muted,
      $color-pink-pastel
    );
  }
  15% {
    @include glitch-text-shadow-15-49(
      $color-red-muted-dark,
      $color-blue-muted,
      $color-pink-pastel
    );
  }
  49% {
    @include glitch-text-shadow-15-49(
      $color-red-muted-dark,
      $color-blue-muted,
      $color-pink-pastel
    );
  }
  50% {
    @include glitch-text-shadow-50-99(
      $color-red-muted-dark,
      $color-blue-muted,
      $color-pink-pastel
    );
  }
  99% {
    @include glitch-text-shadow-50-99(
      $color-red-muted-dark,
      $color-blue-muted,
      $color-pink-pastel
    );
  }
  100% {
    @include glitch-text-shadow-100(
      $color-red-muted-dark,
      $color-blue-muted,
      $color-pink-pastel
    );
  }
}
