@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes emphasize {
  0%,
  100% {
    transform: scale(1) translateZ(-1rem);
  }

  50% {
    transform: scale(1.5) translateZ(1rem);
  }
}
