html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: "Visitor TT2 BRK", sans-serif;

  color: var(--color-white);
}

.type-text {
  opacity: 0;
}

.choice {
  opacity: 0;

  &__value {
    opacity: 0;
  }
}

.game-over {
  color: var(--color-red-muted);
  text-shadow: 0.2rem 0.2rem 0 var(--color-red-muted-dark);
  &__heading {
    font-size: 6rem;
  }

  &__sub-heading {
    font-size: 2.25rem;
  }

  .play-again {
    font-size: 3rem;
  }
}
